@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

body,
html {
  scroll-behavior: smooth;
  background-color: #050417;
  color: #fff;
}

.contact-container {
  margin: 10rem auto;
}

.contact-form {
  border: 0.1rem dashed #fff;
  border-radius: 1.2rem;
  padding: 2.5rem 1rem;
}

.contact-para {
  color: #afafaf;
  font-size: 1.5rem;
}

.inputBoxes {
  background-color: transparent;
  outline: none;
  color: #fff;
  border: 0.1rem solid #898f94;
}

.inputBoxes:focus {
  box-shadow: none !important;
  border: 0.1rem solid #898f94 !important;
  color: #fff;
  background-color: transparent;
}

.inputBoxes::placeholder {
  color: #898f94;
  font-weight: 500;
}

.inputBoxes:focus::placeholder,
#msgBox:focus::placeholder {
  color: transparent;
}

.input-icon {
  color: #fff;
}

#msgBox:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: #000;
}

#msgBox:focus {
  background-color: #f8f9fa;
}
