@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

body,
html {
  scroll-behavior: smooth;
  background-color: #050417;
  color: #fff;
}

.card, .contact-card-bg {
  background-color: rgba(225, 225, 225, 0.2);
  margin: 0 .5rem;
  border-radius: 1.2rem;
}
.contact-container {
  margin: 10rem auto;
}

.contact-form {
  border-radius: 1.2rem;
  padding: 2rem 1rem;
}

.h1-heading {
  font-family: 'poppins', cursive;
  color: #00ccff;
  font-size: 2.5rem;
}

.contact-para {
  color: #cac7c7;
  font-size: 1.5rem;
  font-weight: lighter;
}

.inputBoxes, #msgBox {
  background-color: #f8f9fa;
  outline: none;
  color: #000;
  border: 0.1rem solid #050417;
}

.inputBoxes:focus, #msgBox:focus {
  box-shadow: none !important;
  outline: none !important;
  border: 0.1rem solid #00b9d2 !important;
  color: #000;
  background-color: #e0dfdf;
}

.inputBoxes::placeholder, #msgBox::placeholder {
  color: #565656;
  font-weight: 400;
}

.inputBoxes:focus::placeholder,
#msgBox:focus::placeholder {
  color: transparent;
}

.input-icon {
  color: #000;
}

#submitBtn, .btn-gradient {
  background: linear-gradient(90deg, #06adc3 0%, #00e6ff 100%);
  color: #000;
  border: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.10);
}

#submitBtn:hover, .btn-gradient:hover, #submitBtn:focus, .btn-gradient:focus {
  background: linear-gradient(90deg, #00e6ff 0%, #06adc3 100%);
  color: #fff;
}
